.SideBar {
    position: fixed;
    z-index: 2;
    background-color: #241F27;
    width: 340px;
    height: 100vh;
    padding: 5px 20px 5px 10px;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1;
    grid-row: 1 / 3;
    grid-template-rows: 230px 50px auto auto;
    gap: 5px;
}

.pic {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: aliceblue;
    background-repeat: repeat;
    background-image: url('../../icons/my_pic.jpg');
    background-size: 112%;
    background-position-y: -3px;
    background-position-x: -19px;
    grid-gap: 44px;
    gap: 44px;
}

h1.skill_name {

    /*font-family: Roboto;*/
    font-style: bold;
    font-size: 16px;
    color: #FFFFFF;
}


h1.skill_name {

    /*font-family: Roboto;*/
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

#Name {
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 30px;


    color: #FFFFFF;
}

.Informations {
    display: grid;
    grid-template-columns:     20px auto;
    gap: 5px;
    justify-content: center;
    align-items: stretch;
    height: 100px;
}

.InfoIcons {
    color: #FFFFFF;
    align-self: center;
}

.InfoText {
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    align-self: center;
}

.Container {
    width: 100%;

}

.Header {
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.Skills {

    display: grid;
    align-items: center;
    justify-items: center;
    gap: 15px;
    margin-top: 10px;

}

.HorizontalLine {
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    background-color: #27AAE1;
    margin: 1px 0px;
}

.logo_container {
    display: grid;
    grid-template-columns: 32px 32px;
    align-content: end;
    gap: 44px;
}

h1.skill_name {

    /*font-family: Roboto;*/
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and  (max-width: 768px) {
    .Skills {

        margin: 10px 20px 0px 20px;

    }

    .SideBar::-webkit-scrollbar {
        width: 0 !important
    }

    .SideBar {
        overflow: -moz-scrollbars-none;
    }

    .mobileNav {
        padding: 5px 10px;
        z-index: 400;
        background-color: #241F27;
        display: grid;
        grid-template-columns:100px auto;
        height: 110px;
        position: fixed;
        column-gap: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    .mini_nav {
        height: 76px;
        grid-template-columns: 70px auto;
        justify-items: center;
        align-items: center;

    }

    .mini_nav .pic {
        width: 64px;
        height: 64px;
        background-position-y: -5px;
        background-position-x: -5px;
        background-size: 120%;

    }

    .mini_nav > .Informations {
        display: none;
    }

    .mini_nav > #Name {
        align-self: center;
        grid-column: 2;
        grid-row: 1/3;
    }

    .SideBar {
        position: relative;
        margin-top: 110px;
        background-color: #49404E;
        width: 100%;
        height: calc(100vh - 110px);
        padding: 0 10px;
        box-sizing: border-box;
        display: grid;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        column-gap: 5px;
        grid-template-rows: auto;
        position: static;
        overflow: scroll;
    }

    .pic {
        grid-column: 1;
        grid-row: 1/3;
        width: 100px;
        height: 100px;
        align-self: center;

        border-radius: 50%;
        background-repeat: repeat;
        background-image: url('../../icons/my_pic.jpg');
        background-size: 112%;
        background-position-y: -1px;
        background-position-x: -7px;
        grid-gap: 44px;
    }

    .Informations {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        justify-self: start;
        grid-template-columns: 20px auto;
        column-gap: 0;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    .InfoText {
        /*font-family: Roboto;*/
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
    }

    #Name {
        align-self: end;
        justify-self: start;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }

    #mail_icon {
        width: 14px;
        height: 11px;
    }

    #location_icon {
        width: 10px;
        height: 14px;
    }

    #calander_icon {
        width: 12px;
        height: 14px;
    }

    #phone_icon {
        width: 9px;
        height: 15px;
    }

    h1.skill_name {

        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

    }

    .logo_container {
        justify-self: center;
        align-self: start;
    }

    .Skills {
        gap: 5px;
        margin-top: 10px;
    }


}
