.Experience_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.header{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    justify-content: flex-start;
    align-content: center;

}
.experience_list{
    margin-top:37px;
    margin-left: 81px;
    display: grid;
}

@media screen and (max-width:500px){
    .Experience_container{
        z-index: 300;
        padding: 5px 10px;
        height:  calc(100vh - 76px);;
        margin-top: 76px;
        position: static;
        display: block;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .experience_list{
        padding-top:20px;
        display: grid;
        margin: 0;
    }
    .Experience_container .Header{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
       
        font-size: 24px;
        line-height: 28px;
        
        color: #362F31;
        
    } 
}